<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>137.11.0.108132</string>
	</array>
	<key>CreationDate</key>
	<string>2009-06-03 09:56:20 -0700</string>
	<key>Creator</key>
	<string>Leonard Lin</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image4.png</string>
		<string>image3.png</string>
	</array>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2009-06-03 10:24:13 -0700</string>
	<key>Modifier</key>
	<string>Leonard Lin</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {576, 733}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1 0/72 in</string>
			<key>ExportShapes</key>
			<array>
				<dict>
					<key>InspectorGroup</key>
					<real>255</real>
					<key>ShapeImageRect</key>
					<string>{{2, 2}, {22, 22}}</string>
					<key>ShapeName</key>
					<string>DFA987C9-B056-4A04-B028-E0DD0B659DEF-4605-00003BC9A5D85811</string>
					<key>ShouldExport</key>
					<string>YES</string>
					<key>StrokePath</key>
					<dict>
						<key>elements</key>
						<array>
							<dict>
								<key>element</key>
								<string>MOVETO</string>
								<key>point</key>
								<string>{0.497704, 0}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{0.5, -0.00157547}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{-0.227272, -0.500004}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{-0.5, -0.313091}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{-0.0431633, 0}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{-0.5, 0.313087}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{-0.227272, 0.499996}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{0.5, 0.00157166}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{0.497704, -3.8147e-06}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>CLOSE</string>
							</dict>
							<dict>
								<key>element</key>
								<string>MOVETO</string>
								<key>point</key>
								<string>{0.497704, 0}</string>
							</dict>
						</array>
					</dict>
					<key>TextBounds</key>
					<string>{{0, 0}, {1, 1}}</string>
				</dict>
			</array>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{255.57, 431.855}, {7.7782, 11.3494}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29077</integer>
							<key>Shape</key>
							<string>DFA987C9-B056-4A04-B028-E0DD0B659DEF-4605-00003BC9A5D85811</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientColor</key>
									<dict>
										<key>w</key>
										<string>0.666667</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{249.96, 428.53}, {18, 18}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29078</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>0.55819</string>
										<key>r</key>
										<string>0.566873</string>
									</dict>
									<key>FillType</key>
									<integer>2</integer>
									<key>GradientAngle</key>
									<real>90</real>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>0.0535744</string>
										<key>r</key>
										<string>0.114595</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>0.63828504085540771</real>
									<key>ShadowVector</key>
									<string>{0, 1}</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>archive</key>
										<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKlCwwVGR5V
								JG51bGzUDQ4P
								EBESExRWJGNs
								YXNzXE5TQ29s
								b3JTcGFjZV8Q
								Ek5TQ3VzdG9t
								Q29sb3JTcGFj
								ZVdOU1doaXRl
								gAQQA4ACQjEA
								0g0WFxhUTlNJ
								RIADEALSGhsc
								DlgkY2xhc3Nl
								c1okY2xhc3Nu
								YW1log4dWE5T
								T2JqZWN00hob
								HyCiIB1XTlND
								b2xvcggRGh8p
								Mjc6P0FTWV9o
								b3yRmZudn6Kn
								rK6wtb7JzNXa
								3QAAAAAAAAEB
								AAAAAAAAACEA
								AAAAAAAAAAAA
								AAAAAADl
										</data>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>29076</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{312.61, 333.325}, {7.7782, 11.3494}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29074</integer>
							<key>Shape</key>
							<string>DFA987C9-B056-4A04-B028-E0DD0B659DEF-4605-00003BC9A5D85811</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientColor</key>
									<dict>
										<key>w</key>
										<string>0.666667</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{307, 330}, {18, 18}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29075</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>0.55819</string>
										<key>r</key>
										<string>0.566873</string>
									</dict>
									<key>FillType</key>
									<integer>2</integer>
									<key>GradientAngle</key>
									<real>90</real>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>0.0535744</string>
										<key>r</key>
										<string>0.114595</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>0.63828504085540771</real>
									<key>ShadowVector</key>
									<string>{0, 1}</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>archive</key>
										<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKlCwwVGR5V
								JG51bGzUDQ4P
								EBESExRWJGNs
								YXNzXE5TQ29s
								b3JTcGFjZV8Q
								Ek5TQ3VzdG9t
								Q29sb3JTcGFj
								ZVdOU1doaXRl
								gAQQA4ACQjEA
								0g0WFxhUTlNJ
								RIADEALSGhsc
								DlgkY2xhc3Nl
								c1okY2xhc3Nu
								YW1log4dWE5T
								T2JqZWN00hob
								HyCiIB1XTlND
								b2xvcggRGh8p
								Mjc6P0FTWV9o
								b3yRmZudn6Kn
								rK6wtb7JzNXa
								3QAAAAAAAAEB
								AAAAAAAAACEA
								AAAAAAAAAAAA
								AAAAAADl
										</data>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>29073</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{345.61, 245.325}, {7.7782, 11.3494}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29071</integer>
							<key>Shape</key>
							<string>DFA987C9-B056-4A04-B028-E0DD0B659DEF-4605-00003BC9A5D85811</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientColor</key>
									<dict>
										<key>w</key>
										<string>0.666667</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{340, 242}, {18, 18}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29072</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>0.55819</string>
										<key>r</key>
										<string>0.566873</string>
									</dict>
									<key>FillType</key>
									<integer>2</integer>
									<key>GradientAngle</key>
									<real>90</real>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>0.0535744</string>
										<key>r</key>
										<string>0.114595</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>0.63828504085540771</real>
									<key>ShadowVector</key>
									<string>{0, 1}</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>archive</key>
										<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKlCwwVGR5V
								JG51bGzUDQ4P
								EBESExRWJGNs
								YXNzXE5TQ29s
								b3JTcGFjZV8Q
								Ek5TQ3VzdG9t
								Q29sb3JTcGFj
								ZVdOU1doaXRl
								gAQQA4ACQjEA
								0g0WFxhUTlNJ
								RIADEALSGhsc
								DlgkY2xhc3Nl
								c1okY2xhc3Nu
								YW1log4dWE5T
								T2JqZWN00hob
								HyCiIB1XTlND
								b2xvcggRGh8p
								Mjc6P0FTWV9o
								b3yRmZudn6Kn
								rK6wtb7JzNXa
								3QAAAAAAAAEB
								AAAAAAAAACEA
								AAAAAAAAAAAA
								AAAAAADl
										</data>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>29070</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{249.61, 315.325}, {7.7782, 11.3494}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29068</integer>
							<key>Shape</key>
							<string>DFA987C9-B056-4A04-B028-E0DD0B659DEF-4605-00003BC9A5D85811</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientColor</key>
									<dict>
										<key>w</key>
										<string>0.666667</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{244, 312}, {18, 18}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29069</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>0.55819</string>
										<key>r</key>
										<string>0.566873</string>
									</dict>
									<key>FillType</key>
									<integer>2</integer>
									<key>GradientAngle</key>
									<real>90</real>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>0.0535744</string>
										<key>r</key>
										<string>0.114595</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>0.63828504085540771</real>
									<key>ShadowVector</key>
									<string>{0, 1}</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>archive</key>
										<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKlCwwVGR5V
								JG51bGzUDQ4P
								EBESExRWJGNs
								YXNzXE5TQ29s
								b3JTcGFjZV8Q
								Ek5TQ3VzdG9t
								Q29sb3JTcGFj
								ZVdOU1doaXRl
								gAQQA4ACQjEA
								0g0WFxhUTlNJ
								RIADEALSGhsc
								DlgkY2xhc3Nl
								c1okY2xhc3Nu
								YW1log4dWE5T
								T2JqZWN00hob
								HyCiIB1XTlND
								b2xvcggRGh8p
								Mjc6P0FTWV9o
								b3yRmZudn6Kn
								rK6wtb7JzNXa
								3QAAAAAAAAEB
								AAAAAAAAACEA
								AAAAAAAAAAAA
								AAAAAADl
										</data>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>29067</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{243.53, 252.325}, {7.7782, 11.3494}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29065</integer>
							<key>Shape</key>
							<string>DFA987C9-B056-4A04-B028-E0DD0B659DEF-4605-00003BC9A5D85811</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientColor</key>
									<dict>
										<key>w</key>
										<string>0.666667</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{237.92, 249}, {18, 18}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29066</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>0.55819</string>
										<key>r</key>
										<string>0.566873</string>
									</dict>
									<key>FillType</key>
									<integer>2</integer>
									<key>GradientAngle</key>
									<real>90</real>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>0.0535744</string>
										<key>r</key>
										<string>0.114595</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Fuzziness</key>
									<real>0.63828504085540771</real>
									<key>ShadowVector</key>
									<string>{0, 1}</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>archive</key>
										<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKlCwwVGR5V
								JG51bGzUDQ4P
								EBESExRWJGNs
								YXNzXE5TQ29s
								b3JTcGFjZV8Q
								Ek5TQ3VzdG9t
								Q29sb3JTcGFj
								ZVdOU1doaXRl
								gAQQA4ACQjEA
								0g0WFxhUTlNJ
								RIADEALSGhsc
								DlgkY2xhc3Nl
								c1okY2xhc3Nu
								YW1log4dWE5T
								T2JqZWN00hob
								HyCiIB1XTlND
								b2xvcggRGh8p
								Mjc6P0FTWV9o
								b3yRmZudn6Kn
								rK6wtb7JzNXa
								3QAAAAAAAAEB
								AAAAAAAAACEA
								AAAAAAAAAAAA
								AAAAAADl
										</data>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>29064</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{142, 240}, {120, 36}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Clip</string>
					<key>Flow</key>
					<string>Clip</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>HelveticaNeue-UltraLight</string>
						<key>Size</key>
						<real>24</real>
					</dict>
					<key>ID</key>
					<integer>28911</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>15</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>10</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf460
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue-UltraLight;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading20\pardirnatural

\f0\fs20 \cf1 24 Inbound: 5m\
24 Outbound: 12m}</string>
						<key>VerticalPad</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{261, 289}, {18, 18}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>28</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.4</string>
							</dict>
							<key>FillType</key>
							<integer>3</integer>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{55, 49}, {334, 477}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>28916</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {576, 733}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>fill</key>
					<dict>
						<key>GradientColor</key>
						<dict>
							<key>w</key>
							<string>0.666667</string>
						</dict>
					</dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{156, 113}, {88, 40}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Clip</string>
					<key>Flow</key>
					<string>Clip</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>HelveticaNeue-UltraLight</string>
						<key>Size</key>
						<real>24</real>
					</dict>
					<key>ID</key>
					<integer>29086</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>15</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>10</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf460
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue-UltraLight;}
{\colortbl;\red255\green255\blue255;\red0\green128\blue255;\red255\green0\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading20\ql\qnatural\pardirnatural

\f0\fs20 \cf2 3:30PM (22m)\cf1 \
\cf3 3:40PM (24m)}</string>
						<key>VerticalPad</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{194.464, 410.502}, {9, 9}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>29085</integer>
					<key>Line</key>
					<dict>
						<key>ID</key>
						<integer>29082</integer>
						<key>Position</key>
						<real>0.068042390048503876</real>
						<key>RotationType</key>
						<integer>0</integer>
					</dict>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{208, 400}, {57, 25}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Clip</string>
					<key>Flow</key>
					<string>Clip</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>HelveticaNeue-UltraLight</string>
						<key>Size</key>
						<real>24</real>
					</dict>
					<key>ID</key>
					<integer>29084</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>15</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>10</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf460
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue-UltraLight;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading20\ql\qnatural\pardirnatural

\f0\fs20 \cf1 14 I: 4m}</string>
						<key>VerticalPad</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{203, 243}, {109, 76}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Clip</string>
					<key>Flow</key>
					<string>Clip</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>HelveticaNeue-UltraLight</string>
						<key>Size</key>
						<real>24</real>
					</dict>
					<key>ID</key>
					<integer>28911</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>CornerRadius</key>
							<real>15</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>10</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf460
{\fonttbl\f0\fnil\fcharset0 HelveticaNeue-UltraLight;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading20\ql\qnatural\pardirnatural

\f0\fs20 \cf1 14 to 22 (1 transfer)\
Arrive 3:30PM \
22m Total, 4m Wait, 3m walk}</string>
						<key>VerticalPad</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>29083</integer>
					<key>Points</key>
					<array>
						<string>{171, 414}</string>
						<string>{152, 164}</string>
						<string>{156, 168}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>29082</integer>
					<key>Points</key>
					<array>
						<string>{179, 416}</string>
						<string>{199, 415}</string>
						<string>{180, 166}</string>
						<string>{156, 167}</string>
						<string>{156, 167}</string>
						<string>{156, 167}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{176, 422}, {9, 9}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>28</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.4</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.4</string>
							</dict>
							<key>FillType</key>
							<integer>3</integer>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{80, 99}, {302, 428}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>29079</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>IsLocked</key>
					<string>YES</string>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 2</string>
			<key>UniqueID</key>
			<integer>2</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {576, 733}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>fill</key>
					<dict>
						<key>GradientColor</key>
						<dict>
							<key>w</key>
							<string>0.666667</string>
						</dict>
					</dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 3</string>
			<key>UniqueID</key>
			<integer>3</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>1</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{148, 22}, {768, 751}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-21, 0}, {619, 597}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 2</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 3</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
